
<!-- intro -->
    <div class="row">
        <p class="text-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        </p>

        <div class="row demo-container fx-ctr">

            <div class="mat-form-fields">
                <div class="mat-checkbox" data-color="accent">
                    <input id="demo-checkbox" type="checkbox" />
                    <span class="mat-icon"></span>
                </div>
            </div>
            
        </div>
    </div>

<!-- devider -->
    <div class="row padding-32-0"><div class="row mat-devider"></div></div>

<!-- Demo -->
    <div class="row demo-section">
        <a class="width100 fx-ctr demo-toggle">
            <span class="row padding-8-0 text-headline">Demo</span>
            <i class="mat-icon mat-elevation-z1" data-color="accent"></i>
        </a>
        
        <a class="row padding-8-0" target="_blank">Material Design Guidelines</a>

        <div class="demo-content row">
            <span class="row align-left text-heading padding-8-16">CheckBox align left</span>

            <!-- checkbox -->
            <div class="col-xs-4">
                <div class="mat-form-fields">
                    <div class="mat-checkbox" data-color="accent">
                        <input id="checkbox-checkbox" type="checkbox" />
                        <span class="mat-icon"></span>
                    </div>

                    <label for="checkbox-checkbox" class="text-body">Checkbox Control</label>
                </div>
            </div>

            <!-- checkbox : primary -->
            <div class="col-xs-4">
                <div class="mat-form-fields">
                    <div class="mat-checkbox" data-color="primary">
                        <input id="checkbox-checkbox3" type="checkbox" />
                        <span class="mat-icon"></span>
                    </div>

                    <label for="checkbox-checkbox3" class="text-body">Checkbox Primary</label>
                </div>
            </div>

            <br>

            <span class="row align-left text-heading padding-8-16">CheckBox align right</span>

            <!-- checkbox - two -->
            <div class="col-xs-4">
                <div class="mat-form-fields">
                    <label for="checkbox-checkbox2" class="text-body">Checkbox align right</label>

                    <span class="spacer"></span>

                    <div class="mat-checkbox" data-color="accent">
                        <input id="checkbox-checkbox2" type="checkbox" />
                        <span class="mat-icon"></span>
                    </div>
                </div>
            </div>

            <!-- checkbox : primary - two -->
            <div class="col-xs-4">
                <div class="mat-form-fields">
                    <label for="checkbox-checkbox4" class="text-body">Checkbox align right</label>

                    <span class="spacer"></span>

                    <div class="mat-checkbox" data-color="primary">
                        <input id="checkbox-checkbox4" type="checkbox" />
                        <span class="mat-icon"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
