<!-- -->
    <div class="white-bg card-mini" data-expand="true">
        <div class="card-toolbar flex padding-0-16">
            <h2 class="width-auto flex-center mat-title">section heading</h2>
            <span class="spacer"></span>
            <a class="material-icons icon32 expandAllTabs" data-expandAll="false">settings_ethernet</a>
            <a class="material-icons icon32 accordionToggle">arrow_upward</a>
        </div>

        <div class="card-content">
            <div class="flex-row-wrap width100">
                <!-- input textbox -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-8-16 padding-xs-8-24">
                    <div class="col-xs-12 md-input">
                        <input type="text" class="col-xs-12 mat-input" />
                        <span class="bar col-xs-12"></span>
                        <label>Input control</label>
                        <span class="col-xs-12 scroll-hide mat-caption color-warn error-msg">Error Message</span>
                    </div>
                </div>

                <!-- selectbox -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-8-16 padding-xs-8-24">
                    <div class="col-xs-12 md-input">
                        <select class="col-xs-12 mat-input mat-select">
                            <option value="">Select</option>
                            <option value="12">two</option>
                            <option value="13">three</option>
                        </select>
                        <span class="bar col-xs-12"></span>
                        <label class="input-has-value">Input control</label>
                        <span class="col-xs-12 scroll-hide mat-caption color-warn error-msg"></span>
                    </div>
                </div>

                <!-- input textbox with icon -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-8-16 padding-xs-8-24">
                    <div class="col-xs-12 md-input md-input-icon">
                        <input type="text" class="col-xs-12 mat-input" />
                        <span class="bar col-xs-12"></span>
                        <label>Input control</label>
                        <button class="absolute-right"><i class="material-icons">search</i></button>
                        <span class="col-xs-12 scroll-hide mat-caption color-warn error-msg"></span>
                    </div>
                </div>

                <!-- checkbox -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-8-16 padding-xs-8-24">
                    <label class="col-xs-12 md-checkbox">
                        <input type="checkbox" class="iconButton-input" />
                        <span class="absolute-top mat-icon mat-checkbox accent-icon"></span>
                        <span class="width100 flex">Checkbox Control</span>
                    </label>
                </div>

                <!-- slide toggle -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-8-16 padding-xs-8-24">
                    <label class="col-xs-12 md-slideToggle">
                        <input type="checkbox" class="iconButton-input" />
                        <span class="absolute-top mat-slideToggle accent-bg-light">
                            <em class="absolute-top accent-bg"></em>
                        </span>
                        <span class="width100 flex">Checkbox Control</span>
                    </label>
                </div>

                <!-- button -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-8-16 padding-xs-8-24">
                    <button class="col-xs-12 md-button accent-bg" ripple="ripple">Button</button>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-8-16 padding-xs-8-24">
                    <button class="col-xs-12 md-button primary-bg" ripple="ripple">Button</button>
                </div>

                <!-- icon button -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-8-16 padding-xs-8-24">
                    <button class="col-xs-12 md-button md-icon-button accent-bg" ripple="ripple">
                        <i class="material-icons">label</i>
                        <span>Icon Button</span>
                    </button>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-8-16 padding-xs-8-24">
                    <button class="col-xs-12 md-button md-icon-button primary-bg" ripple="ripple">
                        <i class="material-icons">label</i>
                        <span>Icon Button</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="white-bg card-mini" data-expand="false">
        <div class="card-toolbar flex padding-0-16">
            <h2 class="width-auto flex-center  mat-title">section heading</h2>
            <span class="spacer"></span>
            <a class="material-icons icon32 accordionToggle">arrow_upward</a>
        </div>

        <div class="card-content">
            <div class="flex-row-wrap width100">
                <!-- table -->
                <div class="col-xs-12 scroll-auto padding-16 padding-xs-8-24">
                    <div class="col-xs-12 scroll-auto md-table-container">
                        <table class="md-table ">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Column two</th>
                                    <th>Column three</th>
                                    <th>Column four</th>
                                    <th>Column five</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td class="md-tW100">01</td>
                                    <td class="md-tW160">Cell two</td>
                                    <td class="md-tW240">Cell three</td>
                                    <td class="md-tW240">Cell four</td>
                                    <td class="md-tW200">Cell five</td>
                                </tr>

                                <tr>
                                    <td>02</td>
                                    <td>Cell two</td>
                                    <td>Cell three</td>
                                    <td>Cell four</td>
                                    <td>Cell five</td>
                                </tr>

                                <tr>
                                    <td>03</td>
                                    <td>Cell two</td>
                                    <td>Cell three</td>
                                    <td>Cell four</td>
                                    <td>Cell five</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="white-bg card-mini" data-expand="false">
        <div class="card-toolbar flex padding-0-16">
            <h2 class="width-auto flex-center mat-title">section heading</h2>
            <span class="spacer"></span>
            <a class="material-icons icon32 accordionToggle">arrow_upward</a>
        </div>

        <div class="card-content">
            <div class="flex-row-wrap width100">
                <!-- input textbox -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-8-16 padding-xs-8-24">
                    <div class="col-xs-12 md-input">
                        <input type="text" class="col-xs-12 mat-input" />
                        <span class="bar col-xs-12"></span>
                        <label>Input control</label>
                        <span class="col-xs-12 scroll-hide color-warn error-msg">Error Message</span>
                    </div>
                </div>

                <!-- selectbox -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-8-16 padding-xs-8-24">
                    <div class="col-xs-12 md-input">
                        <select class="col-xs-12 mat-input mat-select">
                            <option value="">Select</option>
                            <option value="12">two</option>
                            <option value="13">three</option>
                        </select>
                        <span class="bar col-xs-12"></span>
                        <label class="input-has-value">Input control</label>
                        <span class="col-xs-12 scroll-hide color-warn error-msg"></span>
                    </div>
                </div>

                <!-- input textbox with icon -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-8-16 padding-xs-8-24">
                    <div class="col-xs-12 md-input md-input-icon">
                        <input type="text" class="col-xs-12 mat-input" />
                        <span class="bar col-xs-12"></span>
                        <label>Input control</label>
                        <button class="absolute-right"><i class="material-icons">search</i></button>
                        <span class="col-xs-12 scroll-hide color-warn error-msg"></span>
                    </div>
                </div>

                <!-- checkbox -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-8-16 padding-xs-8-24">
                    <label class="col-xs-12 md-checkbox">
                        <input type="checkbox" class="iconButton-input" />
                        <span class="absolute-top mat-icon mat-checkbox accent-icon"></span>
                        <span class="width100 flex">Checkbox Control</span>
                    </label>
                </div>

                <!-- slide toggle -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-8-16 padding-xs-8-24">
                    <label class="col-xs-12 md-slideToggle">
                        <input type="checkbox" class="iconButton-input" />
                        <span class="absolute-top mat-slideToggle accent-bg-light">
                            <em class="absolute-top accent-bg"></em>
                        </span>
                        <span class="width100 flex">Checkbox Control</span>
                    </label>
                </div>

                <!-- button -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-8-16 padding-xs-8-24">

                </div>

                <!-- icon button -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-8-16 padding-xs-8-24">
                    
                </div>
            </div>
        </div>
    </div>