<div id="bodyWrap" class="height100 fixed-top scroll-hide" runat="server">
            <div class="hw100 fixed-top sideNavBackdrop" onclick="closeSideNav();"></div>

            <%-- old --%>
            <div id="OuterPanelWrapper" style="display:none;">
                <div id="HomePanel">
                    <div style="max-height: 30px; padding: 0; margin: 0;">
                        <input type="text" id="txtgroupmenusearch" placeholder=" type groupname (min 4 char)" class="input-smm" style="vertical-align: super; margin-left: 2px; width: 80%;" />
                        <button type="button" id="btngroupmenugo" class="btn btn-sm btn-primary glyphicon glyphicon-chevron-right  nav-btn" style="vertical-align: super" causesvalidation="false"></button>
                    </div>

                    <div id="PanelWrapper" runat="server">
                    </div>

                    <div id="indexWrapper">
                        <ul id="indexer">
                            <li><a href="#" class="badge" id="indx1">1</a></li>
                            <li><a href="#" class="badge" id="indx2">2</a></li>
                            <li><a href="#" class="badge" id="indx3">3</a></li>
                            <li><a href="#" class="badge" id="indx4">4</a></li>
                            <li><a href="#" class="badge" id="indx5">5</a></li>
                            <li><a href="#" class="badge" id="indx6">6</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <style>
                #OuterPanelWrapper{
                    display:none !important;
                }
            </style>
            
            <%-- navigation section --%>
            <div id="sideNav" class="scroll-hide">
                <div id="nav-container" class="relative layout-fill">
                    <%-- nav header --%>
                    <div class="snav-header section_row scroll-hide relative text-center padding-0-8 primary-bg">
                        <i class="material-icons icon56 text-center white-bg">person</i>
                        <span class="section_row padding-0-8 mat-body-strong">User Name</span>
                        <span class="section_row padding-0-8 mat-body">24/08/2018</span>
                    </div>

                    <%-- nav search --%>
                    <div class="snav-search section_row relative primary-bg">
                        <span class="sn-searchInput row relative">
                            <input type="text" class="row primary-ph" placeholder="Search" />
                            <button class="absolute">
                                <i class="material-icons icon32">search</i>
                            </button>
                        </span>
                    </div>

                    <%-- nav menu --%>
                    <div class="snav-menu absolute white-bg scroll-hide">
                        <%-- main menu --%>
                        <div id="main-nav" class="hw100 absolute-top scroll-y mini-scroll main-nav">
                            <a class="col-xs-12 col-md-6 text-center">
                                <i class="material-icons icon">reply</i>
                                <span class="col-xs-12 mat-body-strong">Refund</span>
                            </a>

                            <a class="col-xs-12 col-md-6 text-center">
                                <i class="material-icons icon">present_to_all</i>
                                <span class="col-xs-12 mat-body-strong">Service</span>
                            </a>
                        </div>

                        <%-- sub menu --%>
                        <div class="hw100 absolute-top scroll-y mini-scroll sub-nav">
                            <!--
                            <a href="http://192.169.10.142/Uno3.0/">
                            -->
                            <a class="col-xs-12 text-center padding-8-16" href="http://localhost/Uno3.0/Millennium.UNO.UI.LND.LGEN/Master/Lgen_M_DocuMaster.aspx?MenuID=30110703">
                                <i class="material-icons icon">reply</i>
                                <span class="col-xs-12 mat-body">Refund  Entry</span>
                            </a>

                            <a class="col-xs-12 text-center padding-8-16">
                                <i class="material-icons icon">reply</i>
                                <span class="col-xs-12 mat-body">Refund Verification</span>
                            </a>

                            <a class="col-xs-12 text-center padding-8-16">
                                <i class="material-icons icon">present_to_all</i>
                                <span class="col-xs-12 mat-body">Refund Approval</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>