<div class="toolbar toolbar-xs56-lg64 fixed-top width100 flex-left padding-0-16 primary-bg">
            <a onclick="openSideNav();">
                <i class="material-icons icon icon-lg56" ripple="ripple">menu</i>
            </a>

            <a class="logo height100">
                <img id="logo" src="../Assets/images/Shriram-Group.png" alt="" />
            </a>

            <span class="spacer"></span>
            
            <span class="hide-lg">
                <i class="material-icons icon pointer" onclick="__doPostBack('_ctl0$btnDashboard','')">home</i>
                <i class="material-icons icon pointer" onclick="openMMenu();">more_vert</i>
            </span>

            <div id="widgetdiv" runat="server">
                <div class="hw100 fixed-top NavBackdrop" onclick="closeNav();"></div>

                <!-- menu id search :: to be removed -->
                <span id="navSearch" class="navSearch" style="display:none;">
                    <input id="_txtMenuID" type="text" runat="server" 
                        placeholder="Menu ID / Name" onfocus="getMenuDetails();" />
                    
                    <span id="reqmenuid" class="ValidationText absolute" style="color:red;" 
                        runat="server" visible="false">*</span>
        
                    <button id="_btnFetch" runat="server" causesvalidation="false">
                        <i class="material-icons icon">search</i>
                    </button>
                </span>

                <!-- menu list old :: to be removed -->
                <div style="display:none;">
                    <button id="btnDashboard" causesvalidation="false" runat="server" data-title="Dashboard">
                    </button>

                    <button id="btnReport" causesvalidation="false" onclick="ShowReportTray(); return false;">
                    </button>

                    <button id="btnPassword" causesvalidation="false" onclick="ShowChangePassword(); return false;">
                    </button>

                    <button id="btnLogout" causesvalidation="false" runat="server" data-title="Logout">
                    </button>
                </div>

                <span id="navMenu">
                    <a class="align-left hide-gt-md" data-title="Home" onclick="__doPostBack('_ctl0$btnDashboard','');">
                        <i class="material-icons icon48">home</i>
                        <span class="mat-body-strong hide-lg">Home</span>
                    </a>

                    <a class="align-left navMenu-xs" data-title="Report Tray" onclick="ShowReportTray(); return false;">
                        <i class="material-icons icon48">move_to_inbox</i>
                        <span class="mat-body-strong hide-lg">Report Tray</span>
                    </a>

                    <span class="relative align-left">
                        <a class="align-left navMenu-xs" data-title="Theme" onclick="openTheme();">
                            <i class="material-icons icon48">palette</i>
                            <span class="mat-body-strong hide-lg">Theme</span>
                        </a>

                        <div id="themeList" class="absolute scroll-hide">
                            <a class="col-xs-6 themeBtn themeIndigo active" data-theme="indigo" style="margin-top:8px;">
                                <i class="material-icons icon">done</i>
                            </a>

                            <a class="col-xs-6 themeBtn themeAmber" data-theme="amber" style="margin-top:8px;">
                                <i class="material-icons icon">done</i>
                            </a>

                            <a class="col-xs-6 themeBtn themeGreen" data-theme="green">
                                <i class="material-icons icon">done</i>
                            </a>

                            <a class="col-xs-6 themeBtn themePurple" data-theme="purple">
                                <i class="material-icons icon">done</i>
                            </a>
                        </div>
                    </span>

                    <a class="align-left navMenu-xs" data-title="Tools" onclick="dialogTools();" ripple="ripple">
                        <i class="material-icons icon48">build</i>
                        <span class="mat-body-strong hide-lg">Tools</span>
                    </a>

                    <a class="align-left navMenu-xs" data-title="Company" onclick="dialogCompany();" ripple="ripple">
                        <i class="material-icons icon48">location_city</i>
                        <span class="mat-body-strong hide-lg">Company</span>
                    </a>

                    <a class="align-left navMenu-xs" data-title="Change Password" onclick="ShowChangePassword(); return false;">
                        <i class="material-icons icon48">vpn_key</i>
                        <span class="mat-body-strong hide-lg">Change Password</span>
                    </a>

                    <a class="align-left navMenu-xs" data-title="Logout" onclick="__doPostBack('_ctl0$btnLogout','')">
                        <i class="material-icons icon48">power_settings_new</i>
                        <span class="mat-body-strong hide-lg">Logout</span>
                    </a>

                    <%--
                    <i class="material-icons icon pointer">help</i>
                    <i class="material-icons icon pointer">person</i>
                    --%>
                </span>
            </div>
        </div>