
<!-- intro -->
    <div class="row">
        <p class="text-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        </p>

        <div class="row demo-container fx-ctr">

            <div class="col-xs-3">
                <div class="row fx-col mat-tab">
                    <!-- tab header -->
                    <div class="row mat-tab-header sticky">
                        <ul class="fx-row scroll-x">
                            <li class="w140 active" data-tabid="1" data-ripple="true">
                                <span class="padding-0-32 text-body-2strong">Tab one</span>
                                <em class="absolute tab-bar"></em>
                            </li>

                            <li class="w100" data-tabid="2" data-ripple="true">
                                <span class="padding-0-32 text-body-2strong">Tab two</span>
                                <em class="absolute tab-bar"></em>
                            </li>

                            <li class="w180" data-tabid="3" data-ripple="true">
                                <span class="padding-0-32 text-body-2strong">Tab three</span>
                                <em class="absolute tab-bar"></em>
                            </li>
                        </ul>
                    </div>

                    <!-- tab content -->
                    <div class="relative scroll-hide flex mat-tab-container">
                        <div class="mat-tab-content" data-tabid="1" data-tabstatus="active">
                            <div class="mdTab-content">
                                <div class="row tool-docs">
                                    <br><br><br>
                                    1
                                    <br><br><br>
                                </div>
                            </div>
                        </div>

                        <div class="mat-tab-content" data-tabid="2" data-tabstatus="next">
                            <div class="mdTab-content">
                                <div class="row tool-faq">
                                    <br><br><br>
                                    2
                                    <br><br><br>
                                </div>
                            </div>
                        </div>

                        <div class="mat-tab-content" data-tabid="3" data-tabstatus="next">
                            <div class="mdTab-content">
                                <div class="row">
                                    <br><br><br>
                                    3
                                    <br><br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>



<script>
    // material tab
        $('.mat-tab-header li').on('click', function() {
            tabNavigation($(this));
        });
</script>