[data-bg="primary"] { background-color: #E91E63; color: #fff; transition: 0.3s; }

[data-color="primary"] { color: #E91E63; transition: 0.3s; }

[data-bg="accent"] { background-color: #7C4DFF; color: rgba(255, 255, 255, 0.87); transition: 0.3s; }

[data-bg="accent-light"] { background-color: #c7b3ff; }

[data-color="accent"] { color: #7C4DFF; transition: 0.3s; }

body { background-color: #424242; color: rgba(255, 255, 255, 0.87); }

.white-bg { background: #303030; color: rgba(255, 255, 255, 0.87); }

.dark-bg { background: #f5f5f5; color: #303030; }

.color-white { background: #303030; color: rgba(255, 255, 255, 0.87); }

.overlay-container, .overlay-menu { background: #303030; color: rgba(255, 255, 255, 0.87); }

.mat-card { background: #303030; color: rgba(255, 255, 255, 0.87); }

.text-light { color: rgba(255, 255, 255, 0.67); }

.icon-light { color: rgba(255, 255, 255, 0.47); }

.warn-bg { background-color: #f44336; color: #303030; }

.warn-border { border-color: #f44336; transition: 0.3s; }

.warn-color { color: #f44336; }

[data-bg="warn"] { background-color: #f44336; color: #303030; }

[data-color="color"] { color: #f44336; }

.mat-bottomsheet { background: #303030; color: rgba(255, 255, 255, 0.7); }

.mat-button-toggle { background: #303030; border: 1px solid rgba(255, 255, 255, 0.12); }

.mat-button-toggle label { border-left: 1px solid rgba(255, 255, 255, 0.12); }

.mat-button-toggle input:not(:checked):hover ~ i { background-color: #424242; }

.mat-button-toggle input:not(:checked):focus ~ i { background-color: rgba(255, 255, 255, 0.12); }

.mat-button-toggle input:not(:checked):active ~ i { background-color: rgba(255, 255, 255, 0.12); }

.mat-button-toggle input:checked ~ i { background-color: rgba(255, 255, 255, 0.12); }

/* :disabled */
.mat-button-toggle input:disabled ~ i { color: rgba(255, 255, 255, 0.25); }

button[class*="mat-button"]:disabled, [class*="mat-icon-button"]:disabled .mat-fab:disabled, .mat-fab-mini:disabled, button[class*="color-"]:disabled { color: rgba(255, 255, 255, 0.3); border-color: rgba(255, 255, 255, 0.25); }

button.mat-button-raised:disabled, button.mat-button-flat:disabled, button.mat-icon-button:disabled, button.mat-fab:disabled, button.mat-fab-mini:disabled { background: rgba(255, 255, 255, 0.15); }

.mat-button-text, .mat-button-stroked, .mat-icon-button-mini { background: none; color: rgba(255, 255, 255, 0.87); }

.mat-button-raised, .mat-button-flat, .mat-icon-button, .mat-fab, .mat-fab-mini { background: #303030; color: rgba(255, 255, 255, 0.87); }

.mat-button-raised.color-primary, .mat-button-flat.color-primary, .mat-icon-button.color-primary, .mat-fab.color-primary, .mat-fab-mini.color-primary { background-color: #E91E63; color: #fff; }

.mat-button-raised.color-accent, .mat-button-flat.color-accent, .mat-icon-button.color-accent, .mat-fab.color-accent, .mat-fab-mini.color-accent { background-color: #7C4DFF; color: rgba(255, 255, 255, 0.87); }

.mat-button-raised.color-warn, .mat-button-flat.color-warn, .mat-icon-button.color-warn, .mat-fab.color-warn, .mat-fab-mini.color-warn { background-color: #f44336; color: #303030; }

.mat-button-text.color-primary, .mat-button-stroked.color-primary, .mat-icon-button-mini.color-primary { color: #E91E63; border-color: #E91E63; }

.mat-button-text.color-accent, .mat-button-stroked.color-accent, .mat-icon-button-mini.color-accent { color: #7C4DFF; border-color: #7C4DFF; }

.mat-button-text.color-warn, .mat-button-stroked.color-warn, .mat-icon-button-mini.color-warn { color: #f44336; border-color: #f44336; }

.mat-dialog { background: #303030; }

.dialog-title { color: rgba(255, 255, 255, 0.87); }

.dialog-content { color: rgba(255, 255, 255, 0.67); }

.dialog-content[data-dialogscroll="true"] { border-color: rgba(255, 255, 255, 0.12); }

/* checkbox */
/* primary color */
.mat-checkbox[data-color="primary"] input:hover ~ .mat-icon, .mat-radio[data-color="primary"] input:hover ~ .mat-icon, .mat-switch[data-color="primary"] input:hover ~ .switch .switch-overlay { background-color: rgba(233, 30, 99, 0.04); }

.mat-checkbox[data-color="primary"] input:focus ~ .mat-icon, .mat-radio[data-color="primary"] input:focus ~ .mat-icon, .mat-switch[data-color="primary"] input:focus ~ .switch .switch-overlay { background-color: rgba(233, 30, 99, 0.07); }

.mat-checkbox[data-color="primary"] input:active ~ .mat-icon:after, .mat-radio[data-color="primary"] input:active ~ .mat-icon:after, .mat-switch[data-color="primary"] input:active ~ .switch .switch-overlay:before { transform: scale(1); background-color: rgba(233, 30, 99, 0.14); }

/* accent color */
.mat-checkbox[data-color="accent"] input:hover ~ .mat-icon, .mat-radio[data-color="accent"] input:hover ~ .mat-icon, .mat-switch[data-color="accent"] input:hover ~ .switch .switch-overlay { background-color: rgba(124, 77, 255, 0.04); }

.mat-checkbox[data-color="accent"] input:focus ~ .mat-icon, .mat-radio[data-color="accent"] input:focus ~ .mat-icon, .mat-switch[data-color="accent"] input:focus ~ .switch .switch-overlay { background-color: rgba(124, 77, 255, 0.07); }

.mat-checkbox[data-color="accent"] input:active ~ .mat-icon:after, .mat-radio[data-color="accent"] input:active ~ .mat-icon:after, .mat-switch[data-color="accent"] input:active ~ .switch .switch-overlay:before { transform: scale(1); background-color: rgba(124, 77, 255, 0.14); }

/* not:checked */
.mat-checkbox input:not(:checked):hover ~ .mat-icon, .mat-radio input:not(:checked):hover ~ .mat-icon, .mat-switch input:not(:checked):hover ~ .switch .switch-overlay { background-color: rgba(255, 255, 255, 0.04); }

.mat-checkbox input:not(:checked):focus ~ .mat-icon, .mat-radio input:not(:checked):focus ~ .mat-icon, .mat-switch input:not(:checked):focus ~ .switch .switch-overlay { background-color: rgba(255, 255, 255, 0.07); }

.mat-checkbox input:not(:checked):active ~ .mat-icon:after, .mat-radio input:not(:checked):active ~ .mat-icon:after, .mat-switch input:not(:checked):active ~ .switch .switch-overlay:before { transform: scale(1); background-color: rgba(255, 255, 255, 0.14); }

/* default */
.mat-checkbox input:not(:checked) ~ .mat-icon, .mat-radio input:not(:checked) ~ .mat-icon { color: white; }

.mat-checkbox input:disabled ~ .mat-icon, .mat-radio input:disabled ~ .mat-icon { color: white; }

/* switch */
/* primary */
.mat-switch[data-color="primary"] .switch-thumb { background-color: #E91E63; }

.mat-switch[data-color="primary"] .switch { background-color: rgba(233, 30, 99, 0.5); }

/* accent */
.mat-switch[data-color="accent"] .switch-thumb { background-color: #7C4DFF; }

.mat-switch[data-color="accent"] .switch { background-color: #c7b3ff; }

/* default */
.switch:before { background-color: #b0b0b0; }

/* :checked */
.mat-switch input:not(:checked) ~ .switch .switch-thumb { background-color: #fff; }

/* :disabled */
.mat-switch input:disabled ~ .switch { opacity: 0.5; }

.mat-input, .mat-select { border-bottom: 1px solid white; }

.mat-assist:before { background: rgba(255, 255, 255, 0.45); }

.mat-select ~ .mat-assist:after { border-top: 5px solid rgba(255, 255, 255, 0.47); }

.input-suffix input:not(:disabled):hover, .input-suffix button:not(:disabled):hover, .input-suffix input:focus, .input-suffix button:focus { background: rgba(255, 255, 255, 0.1); }

.mat-panel { background-color: #fff; color: rgba(0, 0, 0, 0.87); }

.mat-panel[data-expand="true"] .panel-toolbar { background-color: rgba(0, 0, 0, 0.087); }

.mat-tab-header input:checked ~ span { color: #7C4DFF; }

.mat-tab-header input:checked ~ .tab-bar { background-color: #7C4DFF; }

/* reset */
header svg { fill: #303030; }

/* nav */
.nav-header { border-bottom: 1px solid rgba(48, 48, 48, 0.3); }

.nav a:not(.active):hover { background-color: rgba(255, 255, 255, 0.07); }

.nav .active { background-color: rgba(124, 77, 255, 0.12); color: #7C4DFF; }

/* demo container */
.demo-container { background-color: rgba(255, 255, 255, 0.07); }

/* demo - doc */
.demo-toggle i { background: #fff; }

/* demo : card */
.demo-card { background: #fafafa; }

[data-theme="red"] .demo-card { background: #303030; }
