
/* button toggle */
    .mat-button-toggle{
        display: inline-flex;
        border-radius: 2px;
    }

    .mat-button-toggle label{
        height: 46px;
        width: 47px;
        padding: 0;
        background: none;
        transition: 0.3s;
    }

    .mat-button-toggle label:first-child{
        border: 0;
    }

    .mat-button-toggle input{
        height: 100%;
        width: 100%;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        margin: 0;
        z-index: 3;
    }

    .mat-button-toggle i{
        height: 100%;
        width: 100%;
        text-align: center;
        line-height: 46px;
        transition: 0.3s;
    }

    .mat-button-toggle input:not(:checked):focus ~ i{
        border-radius: 50px;
    }

    .mat-button-toggle input:not(:checked):active ~ i{
        border-radius: 0;
    }

/* :disabled */
    .mat-button-toggle input:disabled ~ i{
        cursor: default;
    }