
// tab
    .mat-tab{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

/* tab header */
    .mat-tab-header{
        min-height: 56px;
        width: 100%;
        top: 0;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;

        overflow-x: auto;
        overflow-y: hidden;
    }

    .mat-tab-header.sticky{
        position: -webkit-sticky;
        position: sticky;
    }

    .mat-tab-header:before {
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        background: rgba(0,0,0,.12);
        bottom: 0;
    }

    .mat-tab-header ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
    }

    .mat-tab-header li{
        position: relative;
        padding: 16px 0;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
    }
        
    .mat-tab-header input{
        height: 100%;
        width: 100%;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        margin: 0;
        z-index: 3;
    }
    
    .mat-tab-header li > span{
        padding: 0 32px;
        font: 500 14px/24px 'Roboto',sans-serif;
    }
    
    .mat-tab .tab-bar {
        height: 3px;
        width: 100%;
        bottom: -3px;
        position: absolute;
        left: 0;
        border-radius: 3px 3px 0 0;
        transition: 0.3s;
    }

    .mat-tab-header input:checked ~ .tab-bar{
        transform: translateY(-3px);
    }

    .mat-tab-header input:disabled ~ span {
        opacity: 0.4;
    }

/* tab content */
    .mat-tab-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        overflow: hidden;
    }

    .mat-tab-content{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }

    .mat-tab-content[data-tabstatus="active"]{
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 1;
        flex-grow: 1;
    }

    .mdTab-content{
        transition: 0.45s;
    }

    .mat-tab-content[data-tabstatus="prev"] > .mdTab-content{
        transform: translateX(-100%);
    }

    .mat-tab-content[data-tabstatus="next"] > .mdTab-content{
        transform: translateX(100%);
    }

    .mat-tab-content[data-tabstatus="active"] > .mdTab-content{
        transform: translateX(0);
    }