
// typography

    // heading
        .mat-headline1{
            font: 300 6rem/6rem 'Roboto',sans-serif;
            letter-spacing: -0.09375rem;
        }

        .mat-headline2{
            font: 300 3.75rem/3.75rem 'Roboto',sans-serif;
            letter-spacing: -0.03125rem;
        }

        .mat-headline3{
            font: 400 3rem/3rem 'Roboto',sans-serif;
            letter-spacing: normal;
        }

        .mat-headline4{
            font: 400 2.125rem/2rem 'Roboto',sans-serif;
            letter-spacing: 0.015625rem;
        }

        .mat-headline5{
            font: 400 1.5rem/1.5rem 'Roboto',sans-serif;
            letter-spacing: normal;
        }

        .mat-headline6{
            font: 500 1.25rem/1.2rem 'Roboto',sans-serif;
            letter-spacing: 0.009375rem;
        }

    // sub title
        .mat-subtitle1{
            font: 400 1rem/1rem 'Roboto',sans-serif;
            letter-spacing: 0.009375rem;
        }

        .mat-subtitle2{
            font: 500 0.875rem/1rem 'Roboto',sans-serif;
            letter-spacing: 0.00625rem;
        }

    // body
        .mat-body1{
            font: 400 1rem/1rem 'Roboto',sans-serif;
            letter-spacing: 0.03125rem;
        }

        .mat-body2{
            font: 400 0.875rem/1rem 'Roboto',sans-serif;
            letter-spacing: 0.015625rem;
        }

    // button
        .mat-button{
            font: 500 0.875rem/1rem 'Roboto',sans-serif;
            letter-spacing: 0.078125rem;
            text-transform: uppercase;
        }

    // caption
        .mat-caption{
            font: 400 0.75rem/1rem 'Roboto',sans-serif;
            letter-spacing: 0.025rem;
        }

    // overline
        .mat-overline{
            font: 400 0.625rem/1rem 'Roboto',sans-serif;
            letter-spacing: 0.09375rem;
            text-transform: uppercase;
        }

/*
    .text-headline{
        font: 400 32px/40px 'Roboto',sans-serif;
    }

    .text-title{
        font: 400 24px/32px 'Roboto',sans-serif;
    }

    .text-title-strong{
        font: 500 24px/32px 'Roboto',sans-serif;
    }

    .text-heading{
        font: 400 20px/28px 'Roboto',sans-serif;
    }

    .text-heading-strong{
        font: 500 20px/28px 'Roboto',sans-serif;
    }

    .text-body{
        font: 400 16px/24px 'Roboto',sans-serif;
    }

    .text-body-strong {
        font: 500 16px/24px 'Roboto',sans-serif;
    }

    .text-body-2{
        font: 400 14px/24px 'Roboto',sans-serif;
    }

    .text-body-2strong{
        font: 500 14px/24px 'Roboto',sans-serif;
    }

    .text-caption{
        font: 400 12px/20px 'Roboto',sans-serif;
    }

    .text-caption-strong{
        font: 500 12px/20px 'Roboto',sans-serif;
    }
*/