
// typography

    // heading
        .mat-headline1{
            font: 300 6rem/6rem 'Roboto',sans-serif;
            letter-spacing: -0.09375rem;
        }

        .mat-headline2{
            font: 300 3.75rem/3.75rem 'Roboto',sans-serif;
            letter-spacing: -0.03125rem;
        }

        .mat-headline3{
            font: 400 3rem/3.125rem 'Roboto',sans-serif;
            letter-spacing: normal;
        }

        .mat-headline4{
            font: 400 2.125rem/2.5rem 'Roboto',sans-serif;
            letter-spacing: 0.015625rem;
        }

        .mat-headline5{
            font: 400 1.5rem/2rem 'Roboto',sans-serif;
            letter-spacing: normal;
        }

        .mat-headline6{
            font: 500 1.25rem/2rem 'Roboto',sans-serif;
            letter-spacing: 0.009375rem;
        }

    // sub title
        .mat-subtitle1{
            font: 400 1rem/1.75rem 'Roboto',sans-serif;
            letter-spacing: 0.009375rem;
        }

        .mat-subtitle2{
            font: 500 0.875rem/1.5rem 'Roboto',sans-serif;
            letter-spacing: 0.00625rem;
        }

    // body
        .mat-body1{
            font: 400 1rem/1.75rem 'Roboto',sans-serif;
            letter-spacing: 0.03125rem;
        }

        .mat-body2{
            font: 400 0.875rem/1.5rem 'Roboto',sans-serif;
            letter-spacing: 0.015625rem;
        }

    // button
        .mat-button{
            font: 500 0.875rem/2.25rem 'Roboto',sans-serif;
            letter-spacing: 0.078125rem;
            text-transform: uppercase;
        }

    // caption
        .mat-caption{
            font: 400 0.75rem/1.5rem 'Roboto',sans-serif;
            letter-spacing: 0.025rem;
        }

    // overline
        .mat-overline{
            font: 400 0.625rem/1.5rem 'Roboto',sans-serif;
            letter-spacing: 0.09375rem;
            text-transform: uppercase;
        }
