
/* typography */
     .text-headline{
        font: 400 32px/40px 'Roboto',sans-serif;
    }

    .text-title{
        font: 400 24px/32px 'Roboto',sans-serif;
    }

    .text-title-strong{
        font: 500 24px/32px 'Roboto',sans-serif;
    }

    .text-heading{
        font: 400 20px/28px 'Roboto',sans-serif;
    }

    .text-heading-strong{
        font: 500 20px/28px 'Roboto',sans-serif;
    }

    .text-body{
        font: 400 16px/24px 'Roboto',sans-serif;
    }

    .text-body-strong {
        font: 500 16px/24px 'Roboto',sans-serif;
    }

    .text-body-2{
        font: 400 14px/24px 'Roboto',sans-serif;
    }

    .text-body-2strong{
        font: 500 14px/24px 'Roboto',sans-serif;
    }

    .text-caption{
        font: 400 12px/20px 'Roboto',sans-serif;
    }

    .text-caption-strong{
        font: 500 12px/20px 'Roboto',sans-serif;
    }
