
/* button toggle */
    .mat-button-toggle{
        display: inline-flex;
        border: 1px solid #c4c4c4;
        border-radius: 2px;
    }

    .mat-button-toggle label{
        height: 46px;
        width: 47px;
        padding: 0;
        background: none;
        border-left: 1px solid #c4c4c4;
        transition: 0.3s;
    }

    .mat-button-toggle input{
        height: 100%;
        width: 100%;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        margin: 0;
        z-index: 3;
    }

    .mat-button-toggle i{
        height: 100%;
        width: 100%;
        text-align: center;
        line-height: 46px;
    }

    .mat-button-toggle label:not(.toggle-active):hover{
        background-color: #f5f5f5;
    }

    .mat-button-toggle label:first-child{
        border: 0;
    }

    .mat-button-toggle input:checked ~ i{
        background-color: #e0e0e0;
    }

/* :disabled */
    .mat-button-toggle label:disabled{
        color: #a7a7a7;
        cursor: default;
    }


/* theme */
    .mat-button-toggle{
        background: #fff;
    }

    /*dark */
        [data-theme="red"] .mat-button-toggle{
            background: #303030;
            border-color: rgba(255,255,255,0.45);
        }

        [data-theme="red"] .mat-button-toggle button{
            border-color: rgba(255,255,255,0.45)
        }

        [data-theme="red"] .mat-button-toggle button:not(.toggle-active):hover{
            background-color: rgba(0,0,0,.1);
        }

        [data-theme="red"] .mat-button-toggle .toggle-active{
            background-color: #212121;
        }

        [data-theme="red"] .mat-button-raised,
        [data-theme="red"] .mat-button-flat,
        [data-theme="red"] .mat-icon-button{
            background: #424242;
            color: rgba(255, 255, 255, 0.7);
        }
