
// Ripple effect
    .ripple {
        z-index: 1;
        position: relative;
        overflow: hidden;
    }

    .mat-ripple {
        position: absolute;
        pointer-events: none;
        z-index: -1;
        border-radius: 100%;
        opacity: 0;
    }

    .mat-ripple.expanded{
        -webkit-animation: rippleShow 0.45s linear;
                animation: rippleShow 0.45s linear;
                animation-fill-mode: forwards;
    }

    .mat-ripple:not(.expanded):not(.hold){
        -webkit-animation: rippleHide 0.2s;
                animation: rippleHide 0.2s;
                animation-fill-mode: forwards;
    }

    // ripple show
        @-webkit-keyframes rippleShow {  
            0% {
                opacity: 0;
                transform: scale(0.1);
            }
            90% {
                opacity: 0.18;
                transform: scale(2);
            }
            100% {
                opacity: 0.2;
                transform: scale(3);
            }
        }

        @keyframes rippleShow { 
            0% {
                opacity: 0;
                transform: scale(0.1);
            }
            90% {
                opacity: 0.18;
                transform: scale(2);
            }
            100% {
                opacity: 0.2;
                transform: scale(3);
            }
        }

    // ripple hide
        @-webkit-keyframes rippleHide {  
            0% {
                opacity: 0.2;
                transform: scale(3);
            }
            90%{
                opacity: 0;
                transform: scale(3);
            }
            100% {
                opacity: 0;
                transform: scale(0.1);
            }
        }

        @keyframes rippleHide { 
            0% {
                opacity: 0.2;
                transform: scale(3);
            }
            90%{
                opacity: 0;
                transform: scale(3);
            }
            100% {
                opacity: 0;
                transform: scale(0.1);
            }
        }

