
// button toggle
    .mat-button-toggle{
        background: $color-white;
        border: 1px solid rgba($color-black, 0.12);
    }

    .mat-button-toggle label{
        border-left: 1px solid rgba($color-black, 0.12);
    }

    .mat-button-toggle input:not(:checked):hover ~ i{
        background-color: $color-light;
    }

    .mat-button-toggle input:not(:checked):focus ~ i{
        background-color: rgba($color-black, 0.12);
    }

    .mat-button-toggle input:not(:checked):active ~ i{
        background-color: rgba($color-black, 0.12);
    }

    .mat-button-toggle input:checked ~ i{
        background-color: rgba($color-black, 0.12);
    }

/* :disabled */
    .mat-button-toggle input:disabled ~ i{
        color: rgba($color-black, 0.25);
    }
