
// :disabled
    button[class*="mat-button"]:disabled,
    [class*="mat-icon-button"]:disabled
    .mat-fab:disabled,
    .mat-fab-mini:disabled,
    button[class*="color-"]:disabled{
        color: rgba($color-black,.3);
        border-color: rgba($color-black,.25);
    }

    button.mat-button-raised:disabled,
    button.mat-button-flat:disabled,
    button.mat-icon-button:disabled,
    button.mat-fab:disabled,
    button.mat-fab-mini:disabled{
        background: rgba($color-black,.15);
    }

/*
// : hover
    // color | border change
    .mat-button-text:hover,
    .mat-button-stroked:hover,
    .mat-icon-button-mini:hover{
        background-color: rgba($color-black, 0.04);
    }

    // bg
    .mat-button-raised.color-primary:hover,
    .mat-button-flat.color-primary:hover,
    .mat-icon-button.color-primary:hover,
    .mat-fab.color-primary:hover,
    .mat-fab-mini.color-primary:hover{
        background-color: lighten( $primary-color, 8% );
    }

    .mat-button-raised.color-accent:hover,
    .mat-button-flat.color-accent:hover,
    .mat-icon-button.color-accent:hover,
    .mat-fab.color-accent:hover,
    .mat-fab-mini.color-accent:hover{
        background-color: lighten( $accent-color, 8% );
    }

    .mat-button-raised.color-warn:hover,
    .mat-button-flat.color-warn:hover,
    .mat-icon-button.color-warn:hover,
    .mat-fab.color-warn:hover,
    .mat-fab-mini.color-warn:hover{
        background-color: lighten( $warn-color, 8% );
    }

// : focus
    // color | border change
    .mat-button-text.color-primary:focus,
    .mat-button-stroked.color-primary:focus,
    .mat-icon-button-mini.color-primary:focus{
        background-color: lighten( $primary-color, 32% );
    }

    .mat-button-text.color-accent:focus,
    .mat-button-stroked.color-accent:focus,
    .mat-icon-button-mini.color-accent:focus{
        background-color: lighten( $accent-color, 32% );
    }

    .mat-button-text.color-warn:focus,
    .mat-button-stroked.color-warn:focus,
    .mat-icon-button-mini.color-warn:focus{
        background-color: lighten( $warn-color, 32% );
    }

    // bg
    .mat-button-raised.color-primary:focus,
    .mat-button-flat.color-primary:focus,
    .mat-icon-button.color-primary:focus,
    .mat-fab.color-primary:focus,
    .mat-fab-mini.color-primary:focus{
        background-color: lighten( $primary-color, 16% );
    }

    .mat-button-raised.color-accent:focus,
    .mat-button-flat.color-accent:focus,
    .mat-icon-button.color-accent:focus,
    .mat-fab.color-accent:focus,
    .mat-fab-mini.color-accent:focus{
        background-color: lighten( $accent-color, 16% );
    }

    .mat-button-raised.color-warn:focus,
    .mat-button-flat.color-warn:focus,
    .mat-icon-button.color-warn:focus,
    .mat-fab.color-warn:focus,
    .mat-fab-mini.color-warn:focus{
        background-color: lighten( $warn-color, 16% );
    }
*/


// theme
    .mat-button-text,
    .mat-button-stroked,
    .mat-icon-button-mini {
        background: none;
        color: $text-dark;
    }

    .mat-button-raised,
    .mat-button-flat,
    .mat-icon-button,
    .mat-fab,
    .mat-fab-mini{
        background: $color-white;
        color: $text-dark;
    }

    // bg change
    .mat-button-raised.color-primary,
    .mat-button-flat.color-primary,
    .mat-icon-button.color-primary,
    .mat-fab.color-primary,
    .mat-fab-mini.color-primary{
        background-color: $primary-color;
        color: $primary-text;
    }

    .mat-button-raised.color-accent,
    .mat-button-flat.color-accent,
    .mat-icon-button.color-accent,
    .mat-fab.color-accent,
    .mat-fab-mini.color-accent{
        background-color: $accent-color;
        color: $accent-text;
    }

    .mat-button-raised.color-warn,
    .mat-button-flat.color-warn,
    .mat-icon-button.color-warn,
    .mat-fab.color-warn,
    .mat-fab-mini.color-warn{
        background-color: $warn-color;
        color: $warn-text;
    }

    // color | border change
    .mat-button-text.color-primary,
    .mat-button-stroked.color-primary,
    .mat-icon-button-mini.color-primary{
        color: $primary-color;
        border-color: $primary-color;
    }

    .mat-button-text.color-accent,
    .mat-button-stroked.color-accent,
    .mat-icon-button-mini.color-accent{
        color: $accent-color;
        border-color: $accent-color;
    }

    .mat-button-text.color-warn,
    .mat-button-stroked.color-warn,
    .mat-icon-button-mini.color-warn{
        color: $warn-color;
        border-color: $warn-color;
    }